<div class="container" ng-controller="UserCreateController as user">
<div class="row">
<div class="col-sm-6 col-md-4 col-md-offset-4">
<form method="post" ng-submit="user.signupUser()">
	<h1>Sign Up</h1>
	<div class="form-group">
	Name: <input type="text" class="form-control" name="name" ng-model="user.userData.name" />
	</div>
	<div class="form-group">
	Username: <input type="text" class="form-control" name="username" ng-model="user.userData.username" />
	</div>
	<div class="form-group">
	Password: <input type="password" class="form-control" name="password" ng-model="user.userData.password" />
	</div>

	<button type="submit" class="btn btn-primary">Sign Up</button>
</form>
</div>
</div>
</div>